
@media screen and (max-width: 600px) {
    #brand{
        content: url("img/brandSmall.svg");
    }
}
.imgResize{
    width: 100%;
    height: auto;
}/* img-fluid didn't work? had to custom css this part */

.footFix{
    padding-bottom: 162px;
} 
